<div ng-controller="changeUserPasswordController">
  <fieldset name="changepassword">
    <legend>Zmiana hasła</legend>
    <form class="contact-form" role="form">
      <div class="contact-form-group left">
        <label for="oldPassword">Old password:</label>
        <input ng-model="changeUserPasswordForm.oldPassword" id="oldPassword" type="password" placeholder="Submit old password">
      </div>       
      <div class="contact-form-group left">
        <label for="newPassowrd">New password:</label>
        <input ng-model="changeUserPasswordForm.newPassword" id="newPassword" type="password" placeholder="Submit new password">
      </div>
      <div class="contact-form-group left">
        <label for="newPassowrdVerify">New password verify:</label>
        <input ng-model="changeUserPasswordForm.newPasswordVerify" id="newPasswordVerify" type="password" placeholder="Submit new password verify">
      </div>
    <button ng-click="changeUserPasswordForm.submitTheForm()">Send</button>
    </form>
  </fieldset>
  <br>
  <div ng-class="msgObj.msgClass">Status: {{ msgObj.msgContent }}</div>
  <br>
  <img ng-class="loadingState" src="img/loading.gif"/>
</div>