@keyframes fadeOut {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 0.7;
  }
}

@media all and (max-width: 350px) and (min-width: 0px) {
  .notification-wrapper {
    width: 100%;
    height: auto;
    padding: 5px 5px 5px 5px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }

  .notification {
    height: auto;
    max-height: 150px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.8;
    animation: fadeOut 0.5s;
    animation-timing-function: ease-out;
    transition: 250ms;
    margin-top: 2px;
    margin-bottom: 2px;
    overflow: hidden;
  }
}

@media all and (min-width: 351px){
  .notification-wrapper {
    width: auto;
    height: auto;
    padding: 5px 5px 5px 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }

  .notification {
    display: table;
    float: right;
    clear: right;
    height: auto;
    max-height: 150px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.8;
    animation: fadeOut 0.5s;
    animation-timing-function: ease-out;
    transition: 250ms;
    margin-top: 2px;
    margin-bottom: 2px;
    overflow: hidden;
  }
}



.notification p {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  display: inline;
  overflow: hidden;
}

.notification:hover {
  opacity: 1.0;
  transform: scale(0.98);
}

.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
